.landing {
    background-image: url("../images/backgrounds/landing.jpg");
    text-align: center;
    height: 500px;
}

.white {
    color: white;
    font-weight: bold;
}

.text1 {
    font-size: 25px;
}

.column {
    float: left;
    width: 25%;
}

.meal {
    width: 324px;
}

.text2 {
    position: absolute;
    top: 90%;
    left: 35%;
    color: white;
}

.text3 {
    position: absolute;
    top: 90%;
    left: 61%;
    color: white;
    font-family: fantasy;
}

.text4 {
    position: absolute;
    top: 90%;
    left: 85%;
    color: white;
}

.top {
    padding: 28.5px;
    background-color: grey;
}

.bottom {
    padding: 28.5px;
    background-color: silver;
}

.release {
    margin-top: 6em;
    margin-right: 4em;
    margin-left: 4em;
}

.tabsection {
    background-image: url("../images/backgrounds/foodsBg.jpg");
    height: 500px;
    margin-top: 6em;
}

.text4 text5 {
    text-align: justify;
    padding-right: 5em;
}

.images1 {
    border-style: solid;
    box-shadow: 0 0 10px 10px #F2f2f2;
    border-width: 20px;
    border-color: #ffffff;
}

.column1 {
    column-count: 2;
}

.texr61 {
    text-align: left;
}

.text6 {
    color: orangered;
    text-align: center;
}

.text7 {
    text-align: center;
}

.testimonials {
    border-style: solid;
    border-width: 20px;
    border-color: white;
    box-shadow: 0 0 10px 10px #f2f2f2;
    margin: 4em;
    margin-left: 6em;
    margin-right: 6em;
    padding: 20px;
}

.png {
    margin-right: -1em;
}

.newsletter {
    background-image: url("../images/subscribe.jpg");
    height: 300px;
}

.text8 {
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    position: relative;
    top: 35%;
}

.input group {
    width: 50%;
}

.btn {
    background-color: orangered;
    color: white;
}

#inputfield {
    opacity: 0.5;
    width: 300px;
}

.email {
    position: relative;
    top: 40%;
    left: 35%
}

.footer {
    background-color: orangered;
    height: 300px;
}

.footerimage {
    margin-top: 6em;
    position: relative;
    top: 40%;
    left: 45%;
}

.footertext {
    color: #ffffff;
    font-size: 30px;
    margin-top: 1em;
}

#footermenu {
    position: relative;
    left: 50%;
    top: 0.5%;
    margin-top: -1.3em;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.footertext1 {
    position: relative;
    left: 46.5%;
    color: white;
    margin-top: 1em;
    font-family: fantasy;
}

.footerlogos {
    position: relative;
    left: 46.5%;
}

.footertext2 {
    position: relative;
    left: 45%;
    margin-top: 1em;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.drinkstext {
    font-family: fantasy;
    text-align: right;
}

.foodstext {
    font-family: fantasy;
}

.boxed {
    height: 50px;
    width: 1000px;
    background-color: #ffffff;
    position: relative;
    left: 17%;
    bottom: 40%;
    margin-top: 5em;
}