.landing{
  background-image: url("../images/backgrounds/landing.jpg");
  text-align: center;
  height: 500px;
}
.white{
  color: white;
  font-weight: bold;
}
.text1{
  font-size: 25px;
}
.column{
  float:left;
  width: 25%;
}
.meal{
  width: 317.5px;
}
.text2{
  position: absolute;
  top: 85%;
  left:35%;
  color:white;
}
.text3{
  position: absolute;
  top: 85%;
  left: 61%;
  color: white;
  font-family:fantasy;
}
.text4{
  position: absolute;
  top: 85%;
  left:85%;
  color: white;
}
.top{
  padding: 22px;
  background-color: grey;
}
.bottom{
  padding: 23px;
  background-color: silver;
}
