.landing {
    background-image: url("../images/backgrounds/landing.jpg");
    text-align: center;
    height: 500px;
}

.white {
    color: white;
    font-weight: bold;
}

.text1 {
    font-size: 25px;
}

.column {
    float: left;
    width: 25%;
}

.meal {
    width: 324px;
}

.text2 {
    position: absolute;
    top: 90%;
    left: 35%;
    color: white;
}

.text3 {
    position: absolute;
    top: 90%;
    left: 61%;
    color: white;
    font-family: fantasy;
}

.text4 {
    position: absolute;
    top: 90%;
    left: 85%;
    color: white;
}

.top {
    padding: 28.5px;
    background-color: grey;
}

.bottom {
    padding: 28.5px;
    background-color: silver;
}

.release {
    margin-top: 6em;
}

.tabsection {
    background-image: url("../images/backgrounds/foodsBg.jpg");
    height: 500px;
    margin-top: 6em;
}

.text4 text5 {
    text-align: justify;
    padding-right: 5em;
}

.images1 {
    border-style: solid;
    box-shadow: 0 0 10px 10px #F2f2f2;
    border-width: 20px;
    border-color: #ffffff;
}